
body{background-color:#51FC9B;}
#heading1{font-family:aerial;
font-size:100px;
font-style:bold;
position:absolute;
left:25%;
top:20px;
}
#heading3a{font-family:aerial;
Color:red;
font-size:40px;
font-style:Italics;
position:absolute;
left:100%;
top:500px;}
#heading3b{font-family:aerial;
Color:red;
font-size:40px;
font-style:Italics;
position:absolute;
left:130%;
top:500px;}
#heading3c{font-family:aerial;
Color:red;
font-size:40px;
font-style:Italics;
position:absolute;
left:160%;
top:500px;}
#heading{font-family:aerial;
font-size:30px;
font-style:Italics;
position:absolute;
top:180px;
left:40%;}
#Contact{position:absolute;
top:400px;
left:100%;}
#Car{position:absolute;
top:300px;
left:125%}
#About{position:absolute;
top:300px;
left:160%;
}
#maa{position:absolute;
top:10%;
}